* {
    text-decoration: none;
    box-sizing: border-box;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-black.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url(./fonts/timesbd.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-style: normal;
}


.body-img {
    background: url(./images/header/mountains.svg);
    background-position: top center;
    background-color: #0B1D26;
    background-repeat: no-repeat;
}

.container-big {
    max-width: 1790px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 65px;
    padding-bottom: 178px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-logo > img {
    padding-left: 8px;
}

.header__list {
    display: flex;
}

.header__list-item-link {
    margin: 0 20px;
    font-size: 18px;
    line-height: 22px;
}

.header__box-account-link {
    font-size: 17px;
    line-height: 21px;
    display: flex;
    margin-right: -8px;
    margin-left: 10px;
}

.header__box-account-link::before {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(./images/header/account.png);
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.main {
    margin-bottom: 192px;
}

.hiking {
    width: 929px;
    margin: 0 auto;
    margin-bottom: 859px;

}

.hiking__subtitle {
    margin-bottom: 32px;
}

.subtitle {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    color: #FBD784;
    text-transform: uppercase;
    display: flex;
}

.subtitle::before {
    content: '';
    width: 72px;
    height: 22px;
    background-image: url(./images/main/line.svg);
    margin-right: 32px;
    background-repeat: no-repeat;
    background-position: center center;
}

.hiking__title {
    font-size: 88px;
    line-height: 100px;
    margin-bottom: 32px;
}

.title {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
}

.link-arrow {
    display: inline-flex;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}

.hiking__scroll-down::after {
    content: '';
    background-image: url(./images/main/arrow_down.svg);
    width: 16px;
    height: 24px;
}

.link-arrow::after {
    margin-left: 16px;
    background-repeat: no-repeat;
}

.scroll__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.scroll__list-item {
    padding: 20px 0;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
}

.scroll__list-item-link {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 32px 20px 0;
    text-align: end;

}

.scroll {
    position: fixed;
    right: 63px;
    top: 322px;
}

.scroll__list-item:hover {
    color: #FBD784;
    border-right: 3px solid rgba(255, 255, 255, 1);
}

.main__box-content {
    display: flex;
    align-items: center;
}


.main__box-content-information {
    position: relative;
}

.main__box-content-information-subtitle {
    margin-bottom: 27px;

}

.main__box-content-information-subtitle::before {
    margin-right: 24px;
}

.main__box-content-information-title {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 27px;
}

.main__box-content-information-text {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 27px;
}

.main__box-content-information-read {
    color: #FBD784;
}

.main__box-content-information-read::after {
    content: '';
    background-image: url(./images/main/arrow_left.svg);
    width: 24px;
    height: 16px;
}

.main__box-content-information-read:hover::after {
    transform: translate(5px)
}

.main__box-content:nth-child(odd) {
    flex-direction: row-reverse;
}

.main__box-content:not(:last-child) {
    margin-bottom: 200px;
}

.main__box-content-information {
    width: 584px;
    margin-right: 136px;
}

.main__box-content-information-left {
    margin-left: 136px;
    margin-right: 0px;
}

.main__box-content-information-number {
    font-size: 240px;
    line-height: 240px;
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
}

.number-road {
    right: 380px;
    bottom: 315px;
}

.number-mountain {
    right: 346px;
    bottom: 302px;
}

.number-compass {
    right: 345px;
    bottom: 305px;
}

.footer {
    margin-bottom: 52px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.footer__box-mntn-img {
    margin-bottom: 30px;
    padding-top: 6px;
}

.footer__box-mntn-text {
    font-size: 18px;
    line-height: 32px;
    padding-left: 8px;
}

.footer__box-mntn {
    width: 365px;
}

.footer__box-more {
    width: 250px;
    padding-left: 45px;
}

.more-left {
    padding-left: 65px;
}

.footer__boxe-more-list-item-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.footer__boxe-more-list-item {
    margin-bottom: 16px;
}

.footer__boxe-more-list-item:first-child {
    margin-top: 24px;
}

.footer__boxe-more-list-item:last-child {
    margin-bottom: 0px;
}

.footer__box-more-list {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}

.footer__box-copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 8px;
}
